table{
    border-collapse: collapse;
    width: 80%;
}
table th{
	border: 1px solid #000;
    padding: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #05D9FF;
    color: white;
    text-align: center;
}
table td{
	border: 1px solid #000;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: black;
}